.container {
    padding: 0 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.container > :nth-child(1) {
    position: absolute;
    width: 8rem;
    left: 30%;
    top: -3rem;
}

.products {
    display: grid;
    width: 90%;
    grid-template-columns: 25% auto;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: 500;
    font-size: 1.3rem;
}

.menu > li:hover {
    cursor: pointer;
    color: var(--pink);
}

.list {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    height: 25rem;
    overflow-y: scroll;
    grid-gap: 2rem;
    justify-content: space-between;
}

.prod {
    width: 12rem;
    height: 8rem;
    background-color: white;
    position: relative;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    border-radius: 1rem;
}

.prod > img {
    top: 3rem;
    width: 26rem;
    height: 11rem;
    transform: rotate(-20deg);

}

.product-imag {
    position: absolute;
    transform: rotate(-20deg);
    right: 0;
    bottom: -20%;
    width: 40%;
    height: 100%;
}

/*adaptive*/

@media screen and (max-width: 856px) {
    .container {
        gap: 1rem;
    }

    .container > :nth-child(1) {
        display: none;
    }

    .products {
        grid-template-columns:  none;
        /*width: 100%;*/
        gap: 1rem;
    }

    .menu {
        flex-direction: row;
    }
}


@media screen and (max-width: 640px) {
    .menu {
        margin-left: -2rem;
        gap: 0.5rem;
        flex-wrap: wrap;
        width: 100%;
        font-size: 1.2rem;
    }
    .container {
        align-items: center;
    }
}